.custom-cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background-color: var(--primary-color);
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 9999;
    mix-blend-mode: exclusion;
    transition: transform 0.1s ease;
    box-shadow: 0 0 20px var(--primary-color), 0 0 40px var(--secondary-color);
}

.custom-cursor-trailing {
    position: fixed;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border: 2px solid var(--secondary-color);
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 9998;
    transition: width 0.3s, height 0.3s, background-color 0.3s, transform 0.15s ease-out;
}

/* Hover state for links/buttons */
.custom-cursor.hovered {
    transform: translate(-50%, -50%) scale(1.5);
    background-color: var(--secondary-color);
}

.custom-cursor-trailing.hovered {
    width: 60px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.1);
    border-color: var(--primary-color);
}

@media (max-width: 768px) {

    .custom-cursor,
    .custom-cursor-trailing {
        display: none;
        /* Hide on mobile */
    }
}